
.maincontainer {
    display: flex;
}

    .maincontainer .containerimg {
        position: absolute;
        width: 880px;
        height: 900px;
        top: -1px;
        background: url(images/image15.jpg);
    }

    .maincontainer .logo {
        position: absolute;
        width: 156px;
        height: 178px;
        left: 950px;
        top: 127px;
        background: url(images/Frame.png);
    }



    .maincontainer .loginlabel {
        position: absolute;
        width: 188px;
        height: 56px;
        left: 950px;
        top: 350px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 41px;
        line-height: 48px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.09em;
        color: #000000;
    }

    .maincontainer .welcomelabel {
        position: absolute;
        width: 272px;
        height: 30px;
        left: 950px;
        top: 430px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 32px;
        display: flex;
        align-items: flex-end;
        color: #47C2C7;
    }

    .maincontainer .email {
        position: absolute;
        width: 400px;
        height: auto;
        left: 950px;
        top: 559px;
        border-bottom: 1px solid #00C0F3;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.12em;
        color: #5F5F5F;
    }

    .maincontainer .password {
        position: absolute;
        width: 400px;
        height: auto;
        left: 950px;
        top: 625px;
        border-bottom: 1px solid #00C0F3;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.12em;
        color: #5F5F5F;
    }

    .maincontainer .remembermelabel {
        margin: 0px;
        left: 985px;
        position: absolute;
        width: 99px;
        height: 13px;
        top: 690px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.12em;
        color: #5F5F5F;
    }

    .maincontainer .checkbox {
        position: absolute;
        width: 15px;
        height: 15px;
        left: 950px;
        top: 685px;
    }

    .maincontainer .forgotpwdlabel {
        margin: 0px;
        left: 1200px;
        position: absolute;
        width: 113px;
        height: 13px;
        top: 690px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: flex-end;
        text-align: right;
        letter-spacing: 0.12em;
        color: #5F5F5F;
    }

    .maincontainer .loginbtnlabel {
        position: absolute;
        width: 53px;
        height: 21px;
        left: 950px;
        top: 782px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
    }

    .maincontainer .loginbtn {
        position: absolute;
        width: 120px;
        height: 39px;
        left: 950px;
        top: 772px;
        background: #00C0F3;
        border: none;
    }
